page-home {
    ion-footer{
        bottom:0px !important;
    }
    .scroll-content {
        //overflow-y:auto !important;
        margin-bottom:80px !important;
          }        

          /*
          .toolbar-background-md {
            border-color: #fff;
            background: #3e3a39;
        }          */
}
