<ion-header>
    <ion-navbar>
      <!--
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        -->
             
      <ion-title style="text-align:center;">
        <img src="assets/imgs/titlegimg3.png" style="width:150px;margin-top:10px;">
      </ion-title>
<!--
      <ion-buttons end>
          <button  ion-button icon-only style="margin-top:10px;">
              <ion-icon name="ios-notifications"></ion-icon>
          </button>
        </ion-buttons>        
      <ion-buttons end menuToggle="right" right>
          <button  ion-button icon-only style="margin-top:10px;">
              <ion-icon name="ios-settings"></ion-icon>
          </button>           
        </ion-buttons>  
-->    
    </ion-navbar>
  </ion-header>
  

<ion-content>

    <div ion-fixed style="height:100px;width:100%;background-color:#fff;padding-top:0px;">     
    <div class="calendar-header" style="padding-top:0px;background-color:#dcdcdc;margin-bottom:20px;">
       <ion-row>
            <ion-col style="display: flex !important;align-items: center !important;justify-content: right !important;">
              <div style="text-align:center;width:160px;margin:0 auto;">
                <!-- 0 전기, 1수도, 2가스, 3난방, 4온수-->
               <div style="float:left;font-size:20px;font-weight:700;margin-right:5px;margin-top:4px;">요일별 사용량</div>
               
               <div style="text-align:left;margin-top:2px;"><img src="assets/imgs/energy_icon.png" style="width:30px;"></div>
               
              </div>
            </ion-col>
        </ion-row>
        <div style="position:absolute;margin-top:-40px;margin-left:0px;">
            <img *ngIf="viewtype==0 && level_compare==1" src="assets/imgs/energyicon/g5.png" style="width:80px;">
            <img *ngIf="viewtype==0 && level_compare==2" src="assets/imgs/energyicon/bblue5.png" style="width:80px;">
            <img *ngIf="viewtype==0 && level_compare==3" src="assets/imgs/energyicon/bbred5.png" style="width:80px;">
  
            <img *ngIf="viewtype==1 && level_compare==1" src="assets/imgs/energyicon/g2.png" style="width:80px;">
            <img *ngIf="viewtype==1 && level_compare==2" src="assets/imgs/energyicon/bblue2.png" style="width:80px;">
            <img *ngIf="viewtype==1 && level_compare==3" src="assets/imgs/energyicon/bbred2.png" style="width:80px;">
  
            <img *ngIf="viewtype==2 && level_compare==1" src="assets/imgs/energyicon/g1.png" style="width:80px;">
            <img *ngIf="viewtype==2 && level_compare==2" src="assets/imgs/energyicon/bblue1.png" style="width:80px;">
            <img *ngIf="viewtype==2 && level_compare==3" src="assets/imgs/energyicon/bbred1.png" style="width:80px;">
  
            <img *ngIf="viewtype==3 && level_compare==1" src="assets/imgs/energyicon/g3.png" style="width:80px;">
            <img *ngIf="viewtype==3 && level_compare==2" src="assets/imgs/energyicon/bblue3.png" style="width:80px;">
            <img *ngIf="viewtype==3 && level_compare==3" src="assets/imgs/energyicon/bbred3.png" style="width:80px;">
  
            <img *ngIf="viewtype==4 && level_compare==1" src="assets/imgs/energyicon/g4.png" style="width:80px;">
            <img *ngIf="viewtype==4 && level_compare==2" src="assets/imgs/energyicon/bblue4.png" style="width:80px;">
            <img *ngIf="viewtype==4 && level_compare==3" src="assets/imgs/energyicon/bbred4.png" style="width:80px;">
        </div>    
      </div>

      <div class="calendar-header" style="padding-top:-10px;background-color:#fff;margin-bottom:5px;width:100%;">
          <ion-row class="calendar-month">
              <ion-col style="display: flex !important;align-items: center !important;justify-content: right !important;">
                <table style="width:100%;text-align:center;margin:60px;margin-top:0px;margin-bottom:0px;">
                    <tr>
                        <td style="font-weight:700;border-bottom: 0px !important;height:40px;color:#4c4c4c;text-align:right;font-size:30px;" (click)="goToLastMonth()">
                            <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
                        </td>
                        <td style="font-weight:700;border-bottom: 0px !important;height:40px;color:#4c4c4c;text-align:center;font-size:30px;width:175px;margin-top:0px;">
                        <!--{{currentYear}}.{{currentMonth}}-->
                        <ion-item style="font-weight:700;border-bottom: 0px !important;height:40px;color:#4c4c4c;text-align:center;font-size:30px;width:175px;">
                            <ion-datetime displayFormat="YYYY.MM" [(ngModel)]="yearmonth" name="yearmonth" cancelText="취소" doneText="확인" (ionChange)="updateMyDate()"></ion-datetime>
                        </ion-item>
                        </td>
                        <td style="font-weight:700;border-bottom: 0px !important;height:40px;color:#4c4c4c;text-align:left;font-size:30px;" (click)="goToNextMonth()">
                            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
                        </td>
                      </tr>
                </table>
              </ion-col>
              </ion-row>
      </div>                
    </div>
    <div style="height:120px;"></div>   
  <div style="height:20px;color:#333;font-size:12px;font-weight:700;margin:0px;padding:0px;text-align:center;">
    조회기간 : {{currentYear}}-{{currentMonth}}-01 ~ {{currentYear}}-{{currentMonth}}-{{lastday}}
  </div>     
  <div *ngIf="viewtype==0" style="border-top:2px solid #21d694;width:210px;font-weight:700;font-size:18px;color:#333;text-align:right;margin-top:30px;padding-top:5px;">요일별 평균 사용량 (kWh)</div>
  <div *ngIf="viewtype!=0" style="border-top:2px solid #21d694;width:210px;font-weight:700;font-size:18px;color:#333;text-align:right;margin-top:30px;padding-top:5px;">요일별 평균 사용량 (m³)</div>

           <div style="height:200px;padding-top:10px;padding:10px;padding-left:0px;padding-right:20px;">
            <canvas #lineCanvas></canvas> 
          </div>

          <div style="height:30px;"></div>

  <div style="border-top:2px solid #21d694;width:210px;font-weight:700;font-size:18px;color:#333;text-align:right;margin-top:20px;padding-top:5px;">요일별 평균 사용요금 (원)</div>
          <div style="height:200px;padding-top:10px;padding:10px;padding-left:0px;padding-right:20px;">
              <canvas #lineCanvas2></canvas> 
            </div>          
        
    

    <div style="width:100%;text-align:center;padding:40px;padding-top:0px;margin-top:20px;padding-bottom:0px;">
  <table style="width:100%;text-align:center;">
    <tr>
      <td style="text-align:center;"><div style="padding:10px;background-color:#fff;text-align:center;"><p style="background-color:#eeeef0;text-align:center;border-radius:5px;line-height:20px;padding-top:10px;padding-bottom:10px;font-size:14px;">월 누적 사용량<br>
        <label *ngIf="viewtype==0" style="font-weight:700;font-size:15px;">{{total_usage_curr|number}}kWh</label>
        <label *ngIf="viewtype!=0" style="font-weight:700;font-size:15px;">{{total_usage_curr|number}}m³</label>   
      </p><!--<p style="color:#e30117;font-size:14px;font-weight:700;">전년 동기간 대비<br>3.7% ▲</p>--></div></td>
      <td style="text-align:center;"><div style="padding:10px;background-color:#fff;text-align:center;"><p style="background-color:#eeeef0;text-align:center;border-radius:5px;line-height:20px;padding-top:10px;padding-bottom:10px;font-size:14px;">월 누적 요금<br>
        <label style="font-weight:700;font-size:15px;">{{total_won_curr|number}}원</label>
      </p><!--<p style="color:#0272bb;font-size:14px;font-weight:700;">전년 동기간 대비<br>3.7% ▲</p>--></div></td>
    </tr>
  </table>  
    </div>

    <page-bottom-content></page-bottom-content>

</ion-content>
