// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.intro
{
    color:#fff;
    background-color:#4c4c4c;
//    background-repeat: no-repeat;
//    background-size: cover;
    width: 100%;
    height: 100%;     
}

.leftmenu
{
  .toolbar-md {
    padding: 4px;
    min-height: 56px;
    height: 80px;
    }       
 
}

#notifications-badge {
  background-color: red;
  position: absolute;
  top: 19px;
  padding:3px;
  font-size:8px;
  border-radius: 10%;
}
ion-header {

  .header-md::after
  {
    border-top:0px !important;
    
  }

    .button-md {
      box-shadow: none;
    }
  
    .toolbar-title {
      font-weight:900;
      font-size:17px !important;
      color:#fff;
      text-overflow:ellipsis;
      white-space:nowrap;
      word-wrap:normal;
      overflow:hidden;
      margin-left:20px;
      margin-right:20px;      
      /*
        font-weight:900;
        font-size:17px !important;
        color:#fff;
        margin-left:40px;
        margin-right:40px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      */
      /*
 font-weight: 900;
  font-size: 17px !important;
  color: #fff;
  margin-left: 40px;
  margin-right: 40px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;      
      */
      /*
      text-overflow:ellipsis;
      white-space:nowrap;
      word-wrap:normal;
      overflow:hidden;
      */
      
    }
  


/*상단 헤더아래에 음영 없애기 */
  .header-md::after {
    left: 0;
    /* bottom: -5px; */
    bottom: 0px !important;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    /* height: 5px; */
    height: 0px !important;
    border-top: 0px solid #fff;
    background-image: none !important;
    /* background-image: */
    
  }
}