<ion-header>
  <ion-navbar>
    <!--
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      -->
           
    <ion-title style="text-align:center;">
        <img src="assets/imgs/titlegimg3.png" style="width:150px;margin-top:10px;">
    </ion-title>

    <ion-buttons end menuToggle="right" right>
        <button  ion-button icon-only style="margin-top:10px;">
            <ion-icon name="ios-settings"></ion-icon>
        </button>           
    </ion-buttons>  

  </ion-navbar>
</ion-header>

<ion-content>

    <div class="calendar-header" style="padding-top:0px;background-color:#dcdcdc;margin-bottom:0px;">
        <ion-row>
             <ion-col style="width:100%;text-align:center;">
                <div style="font-size:20px;font-weight:700;margin-right:5px;margin-top:0px;padding:10px;">수요 감축</div>
           
             </ion-col>
         </ion-row>
    </div>

    <div *ngFor="let item of content_list; let i=index">

  
      <div style="border-left:6px solid #16ae33;width:100%;background-color:#f1f1f1;padding:10px;margin-bottom:10px;border-top:1px solid #eee;border-bottom:1px solid #eee;" [ngStyle]="{'background-color': item.color}" (click)="close(item.seq_dr)">
          
         <div style="float:right;position:relative;margin-top:5px;margin-right:5px;">{{item.time_created}}</div>
          <div style="font-size:18px;font-weight:700;color:#222;float:left;margin-top:6px;"> {{item.title}}</div><div style="margin-top:4px;" *ngIf="item.is_new==true"><img src="assets/imgs/new_icon.png" style="width:25px;"></div>
          <div style="font-size:14px;color:#555;clear:both;margin-top:5px;">
            {{item.content}}
          </div>
          <div style="background-color:#16ae33;border-radius:5px;font-size:12px;font-weight:700;padding:5px;color:#fff;width:160px;text-align:center;float:center;margin-top:6px;">감축목표: {{item.kwh}} kWh</div> 
    </div>      
                             
    </div>         



      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="0px;" style="height:0px;">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
                                      loadingText="로딩중...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>
<ion-footer style="margin:0px !important;padding:0px !important;height:80px !important;background-color: #3e3a39 !important;">

  <page-bottom-content-fixed></page-bottom-content-fixed>
  
  
  </ion-footer>
  
